.name{
    text-align: center;
    display: inline;
    width: 1000px;
    font-size: x-large;
    
}

img{
    float: left;
}

html{
    background-color: rgb(74, 73, 73);
}

.general{
    justify-content: left;
    display: flex;
}

.information{
    margin-left: auto;
}