.name{
    text-align: center;
    display: flex;
    width: 1145px;
    font-size: x-large;
    margin-left: 20px;
    
}

img{
    float: left;
}

html{
    background-color: rgb(84, 81, 81);
}

.secton1{
    display: flex;

}



.info-div{
    display: inline;
    
}

.information{
    display: inline-flex;
    width: 300;
    height: 194px;
    
}
.summary{
    display: inline-flex;
    width: 500px;
    height: 194px;
    margin-right: 50px;
}

li{
    color: rgb(163, 150, 150);
}

i{
    color: azure;
}

p{
    color: rgb(163, 150, 150)
}

i{
    font-weight: bold;
}

pre{
    color: rgb(163, 150, 150)
}
h3, h2{
    color: azure;
    font-weight: bold;
}

.subtypes{
    height: 50px; text-align: center; background-color: rgb(79, 73, 65);
    border-radius: 90px;
}

.section2{
    display: inline-flex;
    margin-left:auto;

    
}
.section3{
    display: inline-flex;
    
    margin-top: auto;
}
